
<div *ngIf="authService.isLoggedIn()">
    <h3>Modifier Carburant</h3>
    <div class="container col-md-6">
        <form (ngSubmit)="updateHist()">
            <div class="mb-3">
                <label for="cout" class="form-label">Cout</label>
                <input type="text" id="cout" name="cout" [(ngModel)]="hist.cout" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="cout_litre" class="form-label">Cout Litre</label>
                <input type="text" id="cout_litre" name="cout_litre" [(ngModel)]="hist.cout_litre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" id="date" name="date_achat" [(ngModel)]="hist.date" class="form-control">
            </div>
            <button type="submit" class="btn btn-outline-success">Modifier</button>
        </form>
    </div>
</div>

